.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;

  &__image {
    max-height: 170px;
  }

  &__title {
    padding: 5px;
    text-align: center;
  }
}
